body {
  background-color:  #FDC536;
  font-family:  Segoe UI, Helvetica, Calibri;
}
.btn {
  text-align: center;
  margin: 10px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1em solid transparent;
  border-radius: .25rem;
}
.btn-teal {
  background-color:  #2AB69D;
  color:  #FFFFFF;
}
.btn-peach {
  background-color:  #E65848;
  color:  #FFFFFF;
}
.btn-creame {
  background-color:  #FCF2D7;
  color:  #FFFFFF;
}
.btn-mustard {
  background-color:  #FDC536;
  color:  #FFFFFF;
}
.btn-dark {
  background-color:  #343844;
  color:  #FFFFFF;
}
.jumbotron {
  background-color:  #343844;
  color:  #FFFFFF;
}
.space-15 {
  height: 15px;
}
.margin-10 {
  margin: 10px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.padding-20 {
  padding: 20px;
}
.text-align-center {
  text-align: center;
}
.div-positioning-center {
  align: center;
}
.div-background {
  text-align: left;
}
.div-background-teal {
  background-color:  #2AB69D;
  color:  #FFFFFF;
}
.div-background-peach {
  background-color:  #E65848;
  color:  #FFFFFF;
}
.div-background-creame {
  background-color:  #FCF2D7;
  color:  #FFFFFF;
}
.div-background-mustard {
  background-color:  #FDC536;
  color:  #FFFFFF;
}
.div-background-dark {
  background-color:  #343844;
  color:  #FFFFFF;
}